<p style="margin-top:-38px"> </p>

<!-- <div class="disclaimer" style="margin-top:+5px"> -->

  <!-- <center style="margin-bottom:-15px">  <a href="/"> Giseop Kim blog </a> </center> -->
  <!-- <a title="home" style="float:right" href="/latestnews/">
    Latest News -->
    <!-- <i class="fa fa-home"></i>  -->
  <!-- </a> -->
  
  <!-- <span>
    <a title="home" style="float:left" href="/aboutme/"> -->
      <!-- About Me  -->
      <!-- <i class="fa fa-home"></i>  -->
    <!-- </a>  
  </span>   -->

  <!-- <span>
    <a title="home" style="float:right" href="/aboutme/"> 
      About Me  -->
      <!-- <i class="fa fa-home"></i>  -->
    <!-- </a>  
  </span>   -->

<!-- </div> -->