<nav>
  <!-- <h1>Hi,</h1> -->

  <!-- <hr class="solid" style="margin-top:+20px"> -->
  
  <p style="margin-top:-7px"> </p>

  <p style="margin-top:21px"> </p>
  <hr class="solid" style="margin-top:+15px">
  <!-- <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo" width="150"/>
    {% endif %}
  </a> -->

  <h2 style="margin-top:-15px"> 
    <!-- <a href="/" style="font-weight:bold" target="_blank">{{ site.data.theme.name }}</a> <a href="/"> blog </a>  -->
    <a href="/" style="font-weight:bold">{{ site.data.theme.name }}</a> 
  </h2>

  <hr class="solid" style="margin-top:+15px">

  <p style="margin-top:-15px">
  </p>

  <div id="bio">
    <br><br> 
    <p style="margin-top:-65px">
      <!-- <span style="vertical-align:150%"> </span><br> -->
      <!-- <center style="font-size:1.00em"> Ph.D., KAIST</center> -->
      <center style="font-size:0.88em"> Robot State Estimation Engineer </center>
      <!-- <span style="vertical-align:-15%"> </span><br> -->
      <!-- <center style="margin-top:-5px; font-size:0.95em"> Spatial AI Enthusiast </center> -->
      <center style="font-size:0.85em"> Current position: <a href="https://www.naverlabs.com/" target="_blank"> NAVER LABS</a> </center>
      <center style = "margin-top:-5px; font-size:0.75em; letter-spacing:1.3px;"> giseop.kim@naverlabs.com </center> 
    </p>  
    <p>
      <!-- <span style="vertical-align:-15%"> </span><br> -->
      <!-- font-family:Serif; -->
    </p>
    <!-- <p>
      Edit me in <code>_includes/sidebar.html</code>
    </p> -->
  </div>


  <p style="margin-top:-5px"> </p>
  <div id="social">
    {% include social.html %}
  </div>

</nav>
