---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}
{% include css/academicons.css %}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
    border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
    border-top: 3px solid #ddd;
    /* border-top: 3px solid rgba(255, 142, 35, 0.753); */
  }

  /* Solid border */
  hr.solidlight {
    border-top: 1px solid #ddd;
    /* border-top: 3px solid rgba(255, 142, 35, 0.753); */
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
  